*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.button {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  height: 34px;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  border: 2px double #FFFFFF;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  width: 711px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  justify-content: space-between;
  width: 100%;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset:nth-of-type(2) {
  margin-left: 6px;
  gap: 6px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.search-form__checkbox-list {
  display: inline-flex;
  gap: 16px;
}

.search-form__checkbox-list .search-form__label {
  display: inline-flex;
  gap: 4px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox-list .search-form__label:focus {
  border: 1px solid #FFFFFF;
  padding: 1px;
}

.search-form__checkbox-list .search-form__label-text {
  line-height: 19px;
  text-underline-position: under;
}

.search-form__textfield {
  appearance: none;
  border: solid #FFFFFF;
  border-width: 1px 0;
  width: 225px;
  height: 27px;
  background-color: transparent;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.search-form__textfield:active {
  border-width: 1px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  border: 1px solid #FFFFFF;
  padding: 1px;
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before,
.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  padding: 1px;
  height: 100%;
  background-color: #FFFFFF;
}

.search-form__submit-button {
  align-self: flex-end;
  justify-self: flex-end;
  width: 194px;
}

.content {
  display: grid;
  grid-template: auto / 3fr min-content;
  gap: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 400px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  min-height: 298px;
  max-height: 298px;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 2rem;
}

.content__card-link {
  display: block;
  border: 1px solid transparent;
  text-decoration: none;
  color: #FFFFFF;
}

.content__card-link:active,
.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  border-color: #FFFFFF;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 180px;
  font-family: Oswald, sans-serif;
  color: #FFFFFF;
}

.content__video-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 16px;
}

.content__video-card-thumbnail {
  width: 195px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
}
